{% extends 'base.html.twig' %}

{% block title %}Drivers index{% endblock %}

{% block body %}
    <h1>Drivers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
            <tr>
                <td>{{ driver.id }}</td>
                <td>{{ driver.firstname }}</td>
                <td>{{ driver.lastname }}</td>
                <td>{{ driver.age }}</td>
                <td>
                    <a href="{{ path('drivers_show', {'id': driver.id}) }}">show</a>
                    <a href="{{ path('drivers_edit', {'id': driver.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('drivers_new') }}">Create new</a>
{% endblock %}
